# --- DISCORD ---
DISCORD_TOKEN="[YOUR BOT TOKEN]"

#  █████╗ ██████╗ ██╗
# ██╔══██╗██╔══██╗██║
# ███████║██████╔╝██║
# ██╔══██║██╔═══╝ ██║
# ██║  ██║██║     ██║
# ╚═╝  ╚═╝╚═╝     ╚═╝

# --- ANILIST ---
ANILIST_API_URL=https://graphql.anilist.co

# --- ISTHEREANYDEAL ---
ITAD_API_URL=https://api.isthereanydeal.com/deals/v2
ITAD_API_KEY="[YOUR ISTHEREANYDEAL API KEY]"

# --- REDDIT ---
REDDIT_CLIENT_ID="[YOUR REDDIT APP ID]"
REDDIT_CLIENT_SECRET="[YOUR REDDIT AP ID SECRET]"
REDDIT_USER_AGENT="[YOUR USER AGENT, like this - 'discord:botname:1.0 (by u/username)']"